In [1]:
#imports
import pandas as pd

In [2]:
#create df for yeast data and create df2 for dummy nodes to append later
df = pd.read_csv("Raw_data\prizes.txt", sep = '\t', names=['NODEID','prize'])
df2 = pd.DataFrame(data={"NODEID": ['YGR014W','YDR420W','YER118C'],"prize": 10.051863}, index=[1596,1597,1598])

In [3]:
#Inspect
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1596 entries, 0 to 1595
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NODEID  1596 non-null   object
 1   prize   1596 non-null   float64
dtypes: float64(1), object(1)
memory usage: 25.1+ KB

In [4]:
#Inspect
df2

       NODEID      prize
1596  YGR014W  10.051863
1597  YDR420W  10.051863
1598  YER118C  10.051863

In [5]:
#Confirm Maximum Prize to assign later

df[df['prize']==df['prize'].max()]

      NODEID      prize
564  YGR008C  10.051863

In [6]:
#Assign the max prize to the dummy nodes 
# YIL147C and YPR075C are already in the prize set 
#YER118C,YGR014W,YDR420W assigned here

df = pd.concat([df, df2])

In [7]:
#Verify all the highest prizes are what they should be, for some reason doesn't show index 564, the protein with the original hi prize
df[df['prize']==df['prize'].max()]

       NODEID      prize
1596  YGR014W  10.051863
1597  YDR420W  10.051863
1598  YER118C  10.051863

In [8]:
df[df['NODEID'] == 'YGR008C']

      NODEID      prize
564  YGR008C  10.051863

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1599 entries, 0 to 1598
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NODEID  1599 non-null   object
 1   prize   1599 non-null   float64
dtypes: float64(1), object(1)
memory usage: 37.5+ KB

In [10]:
#This code creates a directory in the current folder called input and creates the txt file there. 
from pathlib import Path  
filepath = Path('Processed_data/prizes1_dummies.txt')  
filepath.parent.mkdir(parents=True, exist_ok=True)  


df.to_csv(filepath, sep='\t',index=False,
                        columns=['NODEID','prize'],
                        header=['NODEID','prize'])