In [8]:
import pandas as pd
import numpy as np

In [19]:
modified_prize_05 = pd.read_csv('hiv_processed_data/modified_prize_05.txt', sep='\t')
modified_prize_05

            NODEID     prize
0     B0YIW2_HUMAN  5.029366
1       HTF4_HUMAN  4.582688
2      FETUA_HUMAN  4.027456
3        HBA_HUMAN  3.955817
4       KCRM_HUMAN  3.885428
...            ...       ...
1118   AXIN1_HUMAN  1.005809
1119    RTN4_HUMAN  1.005192
1120  J3KR72_HUMAN  1.003755
1121   PARP6_HUMAN  1.003196
1122   T184C_HUMAN  1.002288

[1123 rows x 2 columns]

In [14]:
human_dummy_nodes = pd.read_csv('hiv_processed_data/human_dummy_proteins_uniprotkb.txt', header=None)
human_dummy_nodes.rename(columns={0:'NODEID'}, inplace=True)
human_dummy_nodes.head()

        NODEID
0    CGT_HUMAN
1   ACHA_HUMAN
2   ACHB_HUMAN
3  A1AG1_HUMAN
4  A1AG2_HUMAN

In [10]:
prizes_list = modified_prize_05['prize']
prizes_mean = prizes_list.mean()
prizes_mean

1.8057502788094812

In [16]:
human_dummy_nodes['prize']=prizes_mean
human_dummy_nodes.head()

        NODEID    prize
0    CGT_HUMAN  1.80575
1   ACHA_HUMAN  1.80575
2   ACHB_HUMAN  1.80575
3  A1AG1_HUMAN  1.80575
4  A1AG2_HUMAN  1.80575

In [24]:
intersection = list(set(list(modified_prize_05['NODEID'])) & set(list(human_dummy_nodes['NODEID'])))
print(intersection)
len(intersection)

['LSM12_HUMAN', 'MK14_HUMAN', 'CAF1A_HUMAN', 'CH60_HUMAN', 'DCAF1_HUMAN', 'COF1_HUMAN', 'STML2_HUMAN', 'VTNC_HUMAN', 'ARHG1_HUMAN', 'CO9_HUMAN', 'PML_HUMAN', 'P53_HUMAN', 'EPN1_HUMAN', 'PLIN3_HUMAN', 'SEC62_HUMAN', 'ANT3_HUMAN', 'ZAP70_HUMAN', 'KAPCB_HUMAN', 'TBB4A_HUMAN', 'TBA1B_HUMAN', 'ALBU_HUMAN', 'CD3E_HUMAN', 'PSD11_HUMAN', 'TSP1_HUMAN', 'ACTB_HUMAN', 'TRFL_HUMAN', 'EVL_HUMAN', 'CO3_HUMAN', 'LCK_HUMAN', 'RAF1_HUMAN', 'LEUK_HUMAN', 'HS105_HUMAN', 'PHB2_HUMAN']

33

In [ ]:
# Merge dataframes on NODEID, using outer join to include all unique NODEIDs
merged_df = pd.merge(modified_prize_05, human_dummy_nodes, on="NODEID", how="outer", suffixes=('_og', '_dummy'))
# Calculate the max prize for each NODEID, filling NaN values with available data
merged_df['prize'] = merged_df[['prize_og', 'prize_dummy']].max(axis=1)
# Drop the old prize columns from both dataframes
merged_df = merged_df[['NODEID', 'prize']]

In [18]:
merged_df

            NODEID     prize
0     B0YIW2_HUMAN  5.029366
1       HTF4_HUMAN  4.582688
2      FETUA_HUMAN  4.027456
3        HBA_HUMAN  3.955817
4       KCRM_HUMAN  3.885428
...            ...       ...
1546   K2013_HUMAN  1.805750
1547   HACD3_HUMAN  1.805750
1548   VTI1A_HUMAN  1.805750
1549    VAPA_HUMAN  1.805750
1550   VDAC3_HUMAN  1.805750

[1551 rows x 2 columns]

In [21]:
merged_df.to_csv("hiv_processed_data/modified_prize_dummy_05.txt", index=False, sep='\t')